{% load static %}
<footer class="text-gray-700 mx-4 md:mx-6 lg:mx-8">
    <div class="bg-gray-300 h-px w-5/6 mx-auto my-2"></div>

    <div class="container mx-auto flex flex-col-reverse md:flex-row justify-between items-center mb-5 mt-5 gap-y-6">
        <!-- Utilisez mb-8 seulement sur les écrans petits (sm:) -->
        <div class="md:mb-0 md:mt-0 md:mr-8">
            <div class="flex items-center space-x-4">
                <div>
                    <img src="{% static 'assets/img/logo de base.svg' %}" alt="Logo" class="w-28">
                </div>
                <div class="flex flex-col items-start space-y-3">
                    <p class="text-lg text-gray-900 font-bold">AItem</p>
                    <p>&copy; 2024. Tous droits réservés.</p>
                </div>
            </div>
        </div>
        <div class="flex space-x-12">
            <a href="https://github.com/AItemCnam" target="blank"
                class="text-gray-700 flex flex-col justify-between items-center">
                <i class="fa-brands fa-github"></i>
                <span class="block">GitHub</span>
            </a>
            <a href="https://www.alstom.com/fr" target="blank"
                class="text-gray-700 flex flex-col justify-between items-center">
                <i class="fa-solid fa-train"></i>
                <span class="block">Alstom</span>
            </a>
            <a href="https://twitter.com/Alstom" target="blank"
                class="text-gray-700 flex flex-col justify-between items-center">
                <i class="fa-brands fa-x-twitter"></i>
                <span class="block">Twitter</span>
            </a>
        </div>
    </div>
</footer>