{% load static %}
<header
    class="h-16 absolute flex w-full justify-center items-center nav bg-white bg-opacity-75 hover:bg-opacity-100 transition duration-300">
    <!-- problème avec w-full -->
    <nav class="w-5/6">
        <div class="flex justify-center items-center">
            <!-- Logo ou titre de la navbar -->
            <div class="flex flex-grow">
                <a href="{% url 'landingpage.views.home' %}">
                    <img src="{% static 'assets/img/longueur.svg' %}" width="160" class="cursor-pointer" alt="Logo">
                </a>
            </div>

            <div class="flex items-center justify-center">
                <a>
                    <img src="{% static 'assets/img/Plan de travail 8.svg' %}" width="400" alt="Logo Alstom">
                </a>

            </div>

            <div class="flex flex-grow justify-end ">
                <div class="bouton-top ">
                    {% if user.is_authenticated %}
                    <a class="text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-2xl"
                        href="{% url 'workpage.views.dashboard-home' %}">Dashboard</a>
                    {% else %}
                    <a class="text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-2xl"
                        href="{% url 'authpage.views.login' %}">Connexion</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>